__pycache__/
*.py[cod]
*$py.class
*.so
.env
build/
dist/
*.egg-info/
.coverage
htmlcov/
.pytest_cache/
*.egg
venv/
.venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Ansible
*.retry
.ansible/
*vault-pass*
*vault_pass*
