[Unit]
Description=Prometheus Node Exporter
After=network-online.target

[Service]
User={{ monitoring_node_exporter_user }}
ExecStart=/usr/local/bin/node_exporter --web.listen-address=:{{ monitoring_node_exporter_port }}
Restart=always

[Install]
WantedBy=multi-user.target
